.coffee-item {
  padding: 70px 0 30px;
  .container {
    max-width: 860px;
  }
  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
  }
  &__photo img {
    width: 392px;
    height: 355px;
    object-fit: cover;
    filter: drop-shadow(5px 5px 30px rgba(0, 0, 0, 0.25));
  }
  &-info {
    max-width: 410px;
  }
  &__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #000000;
    margin: 5px 0 15px;
    text-align: center;
  }
  .divider {
    margin: 0 auto 30px;
  }
  &-details {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  &__char {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    span {
      font-weight: 700;
    }
    .price {
      font-size: 24px;
      line-height: 35px;
    }
  }
}

@media screen and (max-width: 800px) {
  .coffee-item__photo img {
    width: 320px;
    height: 350px;
  }
}

@media screen and (max-width: 700px) {
  .coffee-item {
    padding: 60px 0 10px;
  }
  .coffee-item-wrapper {
    gap: 20px;
    flex-direction: column;
  }
  .coffee-item-info {
    max-width: initial;
  }
  .coffee-item__photo {
    order: 2;
    margin: 0 auto;
  }
  .coffee-item__photo img {
    width: 400px;
  }
}

@media screen and (max-width: 600px) {
  .coffee-item {
    padding: 50px 0 20px;
  }
}

@media screen and (max-width: 450px) {
  .coffee-item__photo {
    width: 100%;
  }
  .coffee-item__photo img {
    width: 100%;
  }
}