.products {
  margin-bottom: 30px;
  &-list {
    display: grid;
    grid-template-columns: repeat(3, 220px);
    gap: 60px 70px;
    list-style-type: none;
    a {
      text-decoration: none;
    }
  }
  &__empty {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    font-weight: 700;
  }
}


@media screen and (max-width: 900px) {
  .products-list {
    justify-content: center;
    gap: 35px 35px;
  }
}

@media screen and (max-width: 768px) {
  .products-list {
    grid-template-columns: repeat(2, 220px);
  }
}

@media screen and (max-width: 520px) {
  .products-list {
    gap: 5px 5px;
  }
}

@media screen and (max-width: 490px) {
  .products-list {
    grid-template-columns: repeat(1, 220px);
    gap: 10px;
  }
}