.products {
  margin-bottom: 30px;
  &-list {
    display: grid;
    grid-template-columns: repeat(3, 220px);
    gap: 60px 70px;
    list-style-type: none;
    a {
      text-decoration: none;
    }
  }
  &__empty {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    font-weight: 700;
  }
}